<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^manifest\.json$ index.php [L,QSA]
  RewriteRule ^favicon\.ico$ favicon.png [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L,QSA]
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "service-worker\.js$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Service-Worker-Allowed "/"
  </FilesMatch>
</IfModule>
